<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div class="first" align="center">
    <a th:href="@{/addnewdevice/}"> Add new</a>

</div>

<div class="first" align="center">
<table border="1">
    <thead>
    <tr>
        <th>Device ID</th>
        <th>Device name</th>
        <th>Device brand</th>
        <th>Production</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="device : ${allDevices}">
        <td th:text="${device.id}">Device ID</td>
        <td th:text="${device.deviceName}">Device Name</td>
        <td th:text="${device.brandName}">Device Brand</td>
        <td th:text="${device.productionPlace}">Production</td>
        <td th:text="${device.price}">Price</td>
        <td>
            <a th:href="@{'/edit/' + ${device.id}}">Edit</a>
        </td>
        <td>
            <a th:href="@{'/delete/' + ${device.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>